old_structure/ui/dashboard_ui.json
[
    {
        "id": "3255bc05eb9260c3",
        "type": "tab",
        "label": "Smart Plant Monitor",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b8aa93dec7e2e91d",
        "type": "ui_template",
        "z": "3255bc05eb9260c3",
        "group": "aa222c4e21864926",
        "name": "Temperaure",
        "order": 2,
        "width": "0",
        "height": "0",
        "format": "<iframe width=\"450\" height=\"260\" style=\"border: 1px solid #cccccc;\" src=\"https://thingspeak.com/channels/2634978/charts/1?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&api_key=W1OQL6BMVSJW6RWF&type=line&update=15\"></iframe>",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 460,
        "y": 200,
        "wires": [
            [
                "677330a2b48764ea"
            ]
        ]
    },
    {
        "id": "677330a2b48764ea",
        "type": "ui_chart",
        "z": "3255bc05eb9260c3",
        "name": "",
        "group": "aa222c4e21864926",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "History Data",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 710,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "ab34eabf2536e687",
        "type": "ui_template",
        "z": "3255bc05eb9260c3",
        "group": "cbe6cc8282e102ba",
        "name": "Humidity",
        "order": 2,
        "width": "0",
        "height": "0",
        "format": "<iframe width=\"450\" height=\"260\" style=\"border: 1px solid #cccccc;\" src=\"https://thingspeak.com/channels/2634978/charts/2?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&api_key=W1OQL6BMVSJW6RWF&type=line&update=15\"></iframe>",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 460,
        "y": 260,
        "wires": [
            [
                "565e29a6ac1a146c"
            ]
        ]
    },
    {
        "id": "c64ee89bce579291",
        "type": "ui_template",
        "z": "3255bc05eb9260c3",
        "group": "7f3f99ca42aba7d4",
        "name": "Moisture",
        "order": 2,
        "width": "0",
        "height": "0",
        "format": "<iframe width=\"450\" height=\"260\" style=\"border: 1px solid #cccccc;\" src=\"https://thingspeak.com/channels/2634978/charts/3?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&api_key=W1OQL6BMVSJW6RWF&type=line&update=15\"></iframe>",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 460,
        "y": 320,
        "wires": [
            [
                "7ef5467c05449b40"
            ]
        ]
    },
    {
        "id": "565e29a6ac1a146c",
        "type": "ui_chart",
        "z": "3255bc05eb9260c3",
        "name": "",
        "group": "cbe6cc8282e102ba",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "History Data",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 710,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "7ef5467c05449b40",
        "type": "ui_chart",
        "z": "3255bc05eb9260c3",
        "name": "",
        "group": "7f3f99ca42aba7d4",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "History Data",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 710,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "inject_10s",
        "type": "inject",
        "z": "3255bc05eb9260c3",
        "name": "Request Data",
        "props": [],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "x": 100,
        "y": 940,
        "wires": [
            [
                "http_request_thingspeak"
            ]
        ]
    },
    {
        "id": "http_request_thingspeak",
        "type": "http request",
        "z": "3255bc05eb9260c3",
        "name": "Get ThingSpeak Data",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.thingspeak.com/channels/2634978/feeds.json?api_key=W1OQL6BMVSJW6RWF&results=1",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 340,
        "y": 940,
        "wires": [
            [
                "func_temperature",
                "func_moisture",
                "adaca1c5d129a42b"
            ]
        ]
    },
    {
        "id": "func_temperature",
        "type": "function",
        "z": "3255bc05eb9260c3",
        "name": "Extract Temperature",
        "func": "let temp = parseFloat(msg.payload.feeds[0].field1);\nmsg.payload = temp;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 880,
        "wires": [
            [
                "ui_gauge_temp"
            ]
        ]
    },
    {
        "id": "func_moisture",
        "type": "function",
        "z": "3255bc05eb9260c3",
        "name": "Extract Soil Moisture",
        "func": "let moisture = parseFloat(msg.payload.feeds[0].field3);\nmsg.payload = moisture;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 1000,
        "wires": [
            [
                "a4432376e015f5d2"
            ]
        ]
    },
    {
        "id": "ui_gauge_temp",
        "type": "ui_gauge",
        "z": "3255bc05eb9260c3",
        "name": "Temperature dashboard",
        "group": "aa222c4e21864926",
        "order": 3,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "🌡️ Temperature",
        "label": "℃",
        "format": "{{value}}",
        "min": 0,
        "max": 50,
        "colors": [
            "#00bfff",
            "#ffcc00",
            "#ff0000"
        ],
        "seg1": "25",
        "seg2": "35",
        "diff": false,
        "className": "",
        "x": 970,
        "y": 880,
        "wires": []
    },
    {
        "id": "adaca1c5d129a42b",
        "type": "function",
        "z": "3255bc05eb9260c3",
        "name": "Extract Humidity",
        "func": "let temp = parseFloat(msg.payload.feeds[0].field2);\nmsg.payload = temp;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 940,
        "wires": [
            [
                "347d2f516d35a658"
            ]
        ]
    },
    {
        "id": "347d2f516d35a658",
        "type": "ui_gauge",
        "z": "3255bc05eb9260c3",
        "name": "Humidity dashboard",
        "group": "cbe6cc8282e102ba",
        "order": 3,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "💧 Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00bfff",
            "#ffcc00",
            "#ff0000"
        ],
        "seg1": "30",
        "seg2": "60",
        "diff": false,
        "className": "",
        "x": 960,
        "y": 940,
        "wires": []
    },
    {
        "id": "a4432376e015f5d2",
        "type": "ui_gauge",
        "z": "3255bc05eb9260c3",
        "name": "Soil Moisture Dashboard",
        "group": "7f3f99ca42aba7d4",
        "order": 3,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "🌱 Moisture",
        "label": "J/g",
        "format": "{{value}}",
        "min": 0,
        "max": "500",
        "colors": [
            "#00bfff",
            "#ffcc00",
            "#ff0000"
        ],
        "seg1": "150",
        "seg2": "300",
        "diff": false,
        "className": "",
        "x": 970,
        "y": 1000,
        "wires": []
    },
    {
        "id": "aa222c4e21864926",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "6b50a419344774e7",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "cbe6cc8282e102ba",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "6b50a419344774e7",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "7f3f99ca42aba7d4",
        "type": "ui_group",
        "name": "Moisture",
        "tab": "6b50a419344774e7",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "6b50a419344774e7",
        "type": "ui_tab",
        "name": "Smart Plant",
        "icon": "dashboard",
        "order": 6,
        "disabled": false,
        "hidden": false
    }
]